@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&display=swap");

:root {
  --main-color: #141024;
  --main-color-contrast: #d52027;
  --text-secondary-color: rgba(20, 16, 36, 0.7);
  --bg-light: #f9f9f9;
  --section-offset-padding: 120px;
  --basic-margin: 60px;
  --gap: 40px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  color: var(--main-color);
}

img {
  max-width: 100%;
}

/* GLOBAL */
.container {
  max-width: 1220px;
  padding: 0 60px;
  margin: 0 auto;
}

.section-title {
  margin-bottom: var(--basic-margin);
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  color: var(--main-color);
}

.flex {
  display: flex;
}

.list-reset {
  list-style: none;
}

.link-reset {
  text-decoration: none;
  color: inherit;
}

.btn {
  padding: 25px 54px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: var(--main-color-contrast);
}

/* HEADER */
.header {
  position: absolute;
  top: 0;
  width: 100%;
  color: white;
  background-color: transparent;
}

.header__container {
  max-width: 1720px;
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  color: inherit;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}

.header__nav .nav__list {
  gap: 40px;
}

.header__nav .nav__link {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: inherit;
}

.header__tel {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  color: inherit;
}

/* HERO */
.hero {
  background-color: var(--main-color);
}

.hero__bg-container {
  margin: 0 auto;
  max-width: 1920px;
  background-image: url("../img//hero/hero-bg-image.png");
  background-position: bottom right 150px;
  background-repeat: no-repeat;
  background-size: 783px 917px;
}

.hero__content {
  padding-top: 344px;
  padding-bottom: 411px;
  color: white;
}

.hero__title {
  margin-bottom: 20px;
  font-size: 70px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  text-transform: uppercase;
}

.hero__descr {
  margin-bottom: 50px;
  max-width: 478px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

/* ABOUT */
.about {
  padding-top: var(--section-offset-padding);
  padding-bottom: var(--section-offset-padding);
}

.about__descr {
  max-width: 891px;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.about__descr span {
  font-weight: 600;
  margin-bottom: var(--basic-margin);
}

.about__list {
  width: 100%;
  justify-content: space-between;
}

.about__item {
  max-width: 260px;
}

.about__item:last-child {
  max-width: 236px;
}

.about__item span {
  font-size: 70px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  color: var(--main-color-contrast);
}

.about__item-descr {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: var(--text-secondary-color);
}

/* OFFER */
.offer {
  background-color: var(--bg-light);
  padding-top: var(--section-offset-padding);
  padding-bottom: 100px;
}

.offer__list {
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.offer__item {
  max-width: 360px;
}

.offer__item-title {
  margin-bottom: 20px;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}

.offer__item-descr {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: var(--text-secondary-color);
}

/* PACKAGE */
.package {
  padding-top: var(--section-offset-padding);
  padding-bottom: var(--section-offset-padding);
}

.package__list {
  align-items: center;
  justify-content: space-between;
  gap: var(--gap);
}

.package__card {
  flex-direction: column;
  justify-content: space-between;
  height: 460px;
  width: 360px;
  padding: var(--gap);
  border: 1px solid rgba(20, 16, 36, 0.2);
  border-radius: 20px;
  text-align: center;
}

.package__card-title {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}

.package__price {
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}

.package__descr {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.package__card:first-child {
  height: 500px;
  background-color: var(--main-color);
  color: white;
}

.package__card:first-child .package__card-title {
  margin-bottom: 30px;
}

/* SUBSCRIBE */
.subscribe {
  padding-top: 87px;
  padding-bottom: 87px;
  background-color: var(--main-color-contrast);
  color: white;
}

.subscribe__container {
  max-width: 1100px;
  justify-content: space-between;
}

.subscribe__wrapper {
  max-width: 396px;
}

.subscribe__title {
  margin-bottom: 20px;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}

.subscribe__descr {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.form {
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 500px;
}

.form input {
  padding: 19px 20px;
  width: 100%;
  border: none;
  border-radius: 5px;
}

.form input::placeholder {
  color: rgba(40, 41, 68, 0.7);
}

.form__btn {
  padding: 19px 54px;
  width: 100%;
  background-color: var(--main-color);
}

/* FOOTER  */
.footer {
  color: white;
  background-color: var(--main-color);
}

.footer__container {
  width: 100%;
  max-width: 1720px;
  padding-top: 40px;
  padding-bottom: 40px;
  justify-content: space-between;
  align-items: flex-start;
}

.logo__wrapper {
  flex-direction: column;
}

.footer__logo {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  text-transform: uppercase;
}

.footer__copy {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: rgba(255, 255, 255, 0.7);
}

.footer__tel {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}
